<main class="cart-container">

  <div class="cart-title">
    <h2>El Chococarrito</h2>
    <h3>de Corazón de Chocolate</h3>
  </div>

  <section class="cart-section">
    <div class="go-to-home-button">
      <button class="btn-home" onclick="window.location.href='/'">Ver Productos</button>
    </div>

    <h3 class="search-product-title">Buscar Producto en tu ChocoCarrito</h3>
    <input type="text" id="search-input" class="search-input" placeholder="Buscá tu Producto..." />

    <div id="cart-products" class="cart-products"></div>

    <div id="cart-total" class="cart-total"></div>

    <button id="empty-cart-btn" class="btn-empty-cart">Vaciar tu ChocoCarrito</button>
  </section>

  <div id="message-container" class="message-container"></div>
</main>