<header>
  <div class="title">
    <h2>El Chococarrito<h3>de Corazón de Chocolate</h3>
    </h2>
  </div>
</header>


<main>
  <section>
    <div id="go-to-home-button">
      <button onclick="window.location.href='/'">Ver Productos</button>
    </div>

    <h3>Buscar Producto en el Carrito</h3>
    <input type="text" id="search-input" placeholder="Buscar productos...">

    <div id="cart-products"></div>

    <div id="cart-total"></div>

    <button id="empty-cart-btn">Vaciar Carrito</button>
  </section>

  <div id="message-container"></div>
</main>