<main class="login-container">

  <h3 class="login-title">Ingresá a tu Chococuenta! 🔐</h3>

  <div id="error-message" class="error-message" style="display:none;"></div>

  <form id="login-form" action="javascript:void(0);" class="login-form">

    <label for="email" class="form-label">Correo Electrónico 💌</label>
    <input type="email" id="email" name="email" class="form-input" required
      placeholder="Ingresá tu Correo Electrónico..." />

    <label for="password" class="form-label">Contraseña 🔑</label>
    <div class="password-container">
      <input type="password" id="password" name="password" class="form-input" required
        placeholder="Ingresá tu Contraseña..." />
      <span id="toggle-password" class="eye-icon">&#128065;</span>
    </div>

    <button type="submit" class="submit-btn">Iniciá tu Chocosesión! 🥧</button>

  </form>

  <div class="register-link">
    <p>¿Todavía no tenés tu Chococuenta? 🎂 <a href="/register" class="register-link-text">Registrate Acá! 🍪</a></p>
  </div>

</main>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const loginForm = document.getElementById('login-form');

    const errorMessageDiv = document.getElementById('error-message');

    const togglePassword = document.getElementById('toggle-password');

    if (loginForm) {
      loginForm.addEventListener('submit', async function (e) {
        e.preventDefault();
        errorMessageDiv.style.display = 'none';

        const email = document.getElementById('email').value;

        const password = document.getElementById('password').value;

        try {
          const response = await fetch('/api/sessions/login', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ email, password }),
          });

          const data = await response.json();
          if (response.ok) {
            localStorage.setItem('cartId', data.cartId);
            localStorage.setItem('role', data.role);

            window.location.replace(data.role === 'admin' ? '/products' : '/');
          } else {
            errorMessageDiv.style.display = 'block';
            errorMessageDiv.innerHTML = data.message || '❌ Hubo un error al querer Iniciar tu Chocosesión...';
          }
        } catch (error) {
          console.error('Error:', error);
          errorMessageDiv.style.display = 'block';
          errorMessageDiv.innerHTML = '❌ Hubo un Problema al querer Iniciar tu Chocosesión...';
        }
      });
    }

    if (togglePassword) {
      togglePassword.addEventListener('click', function () {
        const passwordField = document.getElementById('password');
        
        passwordField.type = passwordField.type === 'password' ? 'text' : 'password';
        togglePassword.innerHTML = passwordField.type === 'password' ? '&#128065;' : '&#128064;';
      });
    }
  });
</script>
