* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

a {
  margin: 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: #bc8034;
}

a:hover {
  color: #d9cab3;
  font-size: 1.1rem;
  text-shadow: 2px 2px 1px #5e0b15;
}

input {
  width: 100%;
  margin: 1.5rem 0;
  padding: 0.5rem;
  border-radius: 0.4rem 0.2rem;

  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-style: italic;
  font-weight: 700;
  color: #90323d;
}

input:focus {
  border-color: #bc8034;
  outline: none;
}

.form-label {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  color: #8c7a6b;
}

body {
  background-color: #d9cab3;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  font-family: "Lato", sans-serif;
  color: #8c7a6b;
  line-height: 1.6;
}


header {
  width: 100%;
  max-width: 1200px;
  margin-bottom: 4rem;
  padding: 2rem;
  background-color: #5e0b15;
  border-radius: 1rem 1rem 6rem 1rem;
  box-shadow: 0px 4px 6px #5e0b15;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

header p {
  font-size: 1.4rem;
  text-transform: capitalize;
  font-weight: 800;
  text-align: center;
  letter-spacing: 0.2rem;
  text-shadow: 1px 1px 1.5px #5e0b157f;
}

main section div div li div img {
  width: 350px;
  height: 250px;

  overflow: hidden;
  object-fit: cover;

  border: 2px solid #bc8034;
  border-radius: 1rem 3rem;
  box-shadow: 1px 1px 4px #5e0b15;
}

main {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

main h3 {
  font-size: 1.8rem
}

main div h4 {
  padding: 2rem;

  font-size: 1.4rem;
}

main p {
  padding: 0.3rem;

  font-size: 1rem;
  font-weight: 600;
}

section {
  margin: 1rem;
  padding: 2rem;
  background-color: rgb(255, 255, 255);
  border-radius: 2rem 1rem;
  box-shadow: 0 3px 6px #90323d;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

h1 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #d9cab3;
  letter-spacing: 0.15rem;
  text-align: center;
  text-shadow: 1px 0px 4px #5e0b1567;
  animation: colorChange 3s infinite alternate;
}

@keyframes colorChange {
  0% {
    color: #5e0b15;
  }

  100% {
    color: #d9cab3;
  }
}

h2 {
  font-family: "Corinthia", cursive;
  font-size: 2.8rem;
  font-weight: 600;
  color: #bc8034;
  text-align: center;
  text-shadow: 1px 0px 1px #d9cab3;
  line-height: 2.6rem;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: none;
  color: #90323d;
  text-align: center;
  text-shadow: 1px 0px 2px #5e0b1567;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #5e0b15;
  text-align: center;
  text-shadow: 1px 0px 2px #5e0b1567;
}

h5 {
  margin-top: 0.8rem;

  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: #bc8034;
  text-align: center;
}

.user-info a {
  font-family: "Lato", sans-serif;
  text-shadow: 1px 1px 4px #bc8034;
  font-size: 1rem;
  color: #d9cab3;
  letter-spacing: 0.2rem;
  line-height: 1rem;
}

.user-info a:hover {
  font-size: 1.2rem;
  color: #bc8034;
}

.user-action {
  margin: 3rem 0;
  padding: 0;
}

.user-greeting {
  animation: colorChange 3s infinite alternate;
}

.nav-menu {
  margin: 1rem 0;
  padding: 0;
}

p {
  margin: 1rem;

  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  color: #8c7a6b;
  line-height: 1.2rem;
}

.title h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.8rem;
  color: #bc8034;
  letter-spacing: 0.2rem;
  line-height: 1rem;
}

.title h3 {
  font-family: "Corinthia", cursive;
  font-size: 2rem;
  color: #5e0b15;
  text-transform: none;
}

.register-container .section-title {
  margin: 2rem 0;
}

.login-title {
  margin: 2rem 0;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.products-container .products-title h2,
.cart-container .cart-title h2 {
  font-size: 3rem;
  text-shadow: 1px 1px 1px #5e0b15;
}

.products-container .products-title h3,
.cart-container .cart-title h3 {
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
  letter-spacing: 1;
  font-weight: 600;
  text-shadow: 1px 1px 1px #5e0b15;
  line-height: 1rem;
}

.products-section h3 {
  margin: 2rem 0;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #bc8034;
}

.filters {
  margin: 2rem 0;
  font-family: "Lato", sans-serif;
  color: #8c7a6b;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  text-transform: uppercase;
}

select {
  margin: 1rem 0;
  border: 2px solid #bc8034;
  border-radius: 0.5rem 12rem;
  box-shadow: 1px 4px 4px #5e0b15;
  font-family: "Lato", sans-serif;
  color: #bc8034;
  font-size: 0.8rem;
  letter-spacing: 0.1rem;
  font-weight: 700;
  font-style: italic;
  text-transform: capitalize;
}

.products {
  text-align: center;
}

.products__list__item li {
  border-bottom: 1px solid #bc8034;
  box-shadow: 1px 0 5px #5e0b15;

  list-style: none;
}

.products__list__item li .products {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.products__form input,
.products__form button,
.products__update input,
.products__delete input {
  width: 100%;
  margin: 4rem;
  padding: 1rem 4rem;
  border-radius: 2rem 4rem;
  border: 1px solid #bc8034;
}

.products__form button,
button {
  margin: 1rem;
  background-color: #90323d;
  box-shadow: 1px 0px 4px #5e0b15;
  border: 3px solid #bc8034;
  border-radius: 2rem 4rem;

  color: #bc8034;

  cursor: pointer;
}

.products__form button:hover,
button:hover {
  background-color: #bc8034;
  color: #5e0b15;
}

.cart-container .cart-section .search-product-title {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #bc8034;
  text-shadow: 0.5px 0.5px 0.5px #5e0b15;
}

input[type="file"] {
  padding: 2rem;
}

select {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 2rem 1rem;
  border: 1.5px solid #bc8034;
}

button {
  margin-bottom: 2rem;
  padding: 1rem 2rem;
  border: 6rem solid #bc8034;
  border-radius: 1rem 0.5rem;
  border: none;
  background-color: #5e0b15;

  cursor: pointer;

  font-family: "Lato", sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  color: #f8d7da;
  text-shadow: 1px 0 1px #5e0b15;
}

button:hover {
  background-color: #bc8034;

  color: #5e0b15;
  text-shadow: none;
  font-weight: 800;
  font-size: 0.7rem;
}

button {
  padding: 10px 20px;
  background-color: #5e0b15;
  color: #bc8034;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  cursor: not-allowed;
}

form {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  color: #8c7a6b;
  font-size: 1rem;
  font-weight: 600;
}

.products__update,
.products__delete {
  display: flex;
  flex-direction: column;
}

.products__update input,
.products__delete input {
  width: 100%;
  margin-bottom: 2rem;
  padding: 4rem 2rem;
}

.products__update button,
.products__delete button {
  width: 100%;
}

.success-message,
.error-message {
  position: fixed;
  top: 20px;
  left: 50%;

  width: auto;
  max-width: 400px;
  padding: 1rem;
  border-radius: 2rem 4rem;

  font-weight: bold;
  text-align: center;

  z-index: 9999;

  display: none;

  transform: translateX(-50%);
}

#products-form input,
#products-form select,
#products-form button {
  width: 100%;
  margin: 2rem;
  padding: 2rem 4rem;
  margin: 4rem 0;
  border-radius: 4rem 2rem;
}

#category-filter-form {
  margin: 0;

  color: #8c7a6b;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;

  display: flex;
  flex-direction: column;

  align-items: center;
}

#products-list {
  padding: 0;

  list-style-type: none;
}

#products-list li {
  padding: 2rem;
  margin: 2rem 0;
  border: 3px solid #bc8034;
  border-radius: 2rem 4rem;
  background-color: #ffffff;
}

#category-filter-form select {
  width: 100%;
  margin: 1rem;
  padding: 1rem;
  border: 3px solid #8c7a6b;
  border-radius: 1rem 0.5rem;
}

#category-filter-form button {
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #90323d;

  color: rgb(255, 255, 255);
  border: 2px solid #bc8034;
  border-radius: 1rem 0.5rem;
  cursor: pointer;
}

#category-filter-form button:hover {
  background-color: #bc8034;
  color: #90323d;
}

#product-details {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  margin: 1rem 0;
  border-radius: 5px;
  box-shadow: 1px 1px 5px #5e0b15;

  color: #d9cab3;
  font-size: 1rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
}

.success {
  background-color: #4caf50;
}

.error {
  background-color: #f44336;
}

.destacar {
  font-family: "Corinthia", cursive;
  font-size: 1.8rem;
  font-weight: 800;
  color: #90323d;
  text-align: center;
  text-shadow: 1px 0px 1.5px #5e0b15;
  line-height: 1.8rem;
}

.notification {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: green;
  color: white;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  z-index: 9999;
  width: 90%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  animation: slideIn 0.5s forwards;
}

@keyframes slideIn {
  from {
    opacity: 0;
    top: 0;
  }

  to {
    opacity: 1;
    top: 20px;
  }
}

.cart-container .cart-section .cart-products .cart-item {
  margin: 1rem;

  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.cart-container .cart-section .cart-products .cart-item p {
  color: #90323d;
  font-size: 1rem;
  font-weight: 700;
}

.auth-links {
  float: right;
  padding-top: 10px;
}

.auth-links a {
  margin-left: 15px;

  color: #333;
  text-decoration: none;
}

.auth-links a:hover {
  color: #ff6600;
}

input[type="password"] {
  padding-right: 30px;
}

.password-container {
  position: relative;
}

.eye-icon {
  position: absolute;
  top: 50%;
  right: 10px;

  font-size: 20px;

  transform: translateY(-50%);
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

body,
header,
main,
footer {
  animation: fadeIn 0.8s ease-in-out;
}

button:hover {
  background-color: #bc8034;
  color: #5e0b15;
  animation: vibrar 0.2s ease-in-out infinite alternate;
}

@keyframes vibrar {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(3px);
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #bc8034;
  width: 0;
  animation: typingEffect 3s steps(30, end) forwards, blinkCursor 0.8s infinite;
}

@keyframes typingEffect {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes blinkCursor {
  50% {
    border-color: transparent;
  }
}

.modal-container {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s ease-in-out, visibility 0.3s;
}

.modal-container.active {
  visibility: visible;
  opacity: 1;
}

.modal-content {
  width: 90%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  background: #d9cab3;

  color: #5e0b15;
  text-align: center;
}

.modal-content h4 {
  margin-bottom: 1rem;

  color: #5e0b15;
  font-size: 2rem;
  text-shadow: 1px 1px 2px #5e0b15;
}

.modal-content p {
  margin-bottom: 1rem;

  color:#90323d;
  font-size: 1rem;
}

.modal-content ul {
  list-style: none;

  padding: 0;
}

.modal-content ul li {
  font-size: 1.2rem;
  color: #bc8034;
}

.emoji {
  font-size: 2rem;
  text-shadow: 1px 0px 4px #bc8034;
}