<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Corinthia:wght@400;700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet" />
  <title>{{title}}</title>
  <link rel="stylesheet" href="/api/public/css/main.css" />
</head>

<body class="body">

  <header class="header">
    <h1 class="site-title">Corazón de Chocolate</h1>
    <h2 class="site-subtitle typing">Pastelería Creativa Artesanal</h2>

    <div class="user-info">
      {{#if user}}
      <p class="user-greeting">Hola,
        <span id="username" class="highlight">{{user.first_name}}</span>!
      </p>
      <a href="/profile" class="nav-link">Mi Perfil</a>
      |
      <a href="/api/sessions/logout" id="logoutLink" class="nav-link logout">Cerrar mi ChocoSesión</a>
      {{else}}
      <p class="user-action">
        <a href="/login" class="nav-link">Iniciar ChocoSesión</a>
        |
        <a href="/register" class="nav-link">Crear ChocoCuenta</a>
      </p>
      {{/if}}
    </div>

    <nav class="nav-menu">
      <a href="/" class="nav-link">Home</a>
      |
      <a href="/cart" class="nav-link">Carrito</a>
    </nav>
  </header>

  <main class="main-container">
    {{{body}}}
  </main>

  <footer class="footer">
    <p>&copy; 2024 Corazón de Chocolate - Pastelería Creativa Artesanal -
      Todos los Derechos Reservados.</p>
  </footer>

  <script>
    const logoutLink = document.querySelector('#logoutLink'); if (logoutLink) {
      logoutLink.addEventListener('click', function (e) {
        e.preventDefault();
        localStorage.removeItem('cartId'); window.location.href =
          '/api/sessions/logout';
      });
    }
  </script>

  <script src="/socket.io/socket.io.js"></script>
  <script src="/api/public/js/cart.js"></script>
  <script src="/api/public/js/products.js"></script>

</body>

</html>